/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	line-height: 1;
	background-color: #FFFEF8; 
}

main {
	flex: 1;
	margin-top: 50px;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
	margin-bottom: 100px;
}

body.logged-in header {
  margin-top: 70px; 
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	margin-left: 30px;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	min-height: 489px;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	width: 100vw;
	margin-left: calc(-50vw + 44%
	);
	background-color: #f0f0f0;
}

footer nav {
	width: 100%;
}

footer nav ul {
	margin: 0;
	padding: 0 2em;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 60px;
	background-color: white;
}
/* CSS Rajouter */

body.login-page{
	width: 100%;
}
header a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
#filters{
	display: flex;
	justify-content: center;
}
button{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 20px;
	min-width: 100px;
	height: 30px;
	border: solid 1px;
	background-color: white;
	border-color: #1D6154;
	font-size: 16px;
	font-weight: 700;
	font-style: Bold;
	color: #1D6154;
	padding: 0px 10px 0px 10px;
	font-family: 'Syne', sans-serif;
}

button.active{
	background-color: #1D6154;
	color: white;
}

#connection{
	display: flex;
	flex-direction: column;
}
form{
	display: flex;
	flex-direction: column;
}

.gallery{
	margin-top: 80px;
}

#introduction{
	margin-bottom: 100px;
	margin-top: -50px;
}
#connection h1{
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

#connection a {
	margin-left: auto;
	margin-right: auto;
	color: black;
}
#connection label{
	margin-left: 379px;
	font-family: 'Work Sans', sans-serif;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 5px;
}
#connection input{
	margin-left: auto;
	margin-right: auto;
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#connection input[type="submit"]{
	width: 180px;
	height: 36px;
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	font-size: 14px;
}

#edition-bar{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
	font-family: 'Work Sans', sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 20px;
}

#edition-bar.hidden{
	display: none;
}

.edit-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-left: 15px;
  font-size: 14px;
  color: black;
  font-weight: normal;
}

.edit-wrapper i {
  font-size: 14px;
}

.modal.hidden{
	display: none;
}

.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content{
	position: relative;
	background-color: white;
	padding: 2em;
	width: 630px;
	height: 670px;
	border-radius: 8px;
	z-index: 1001;
}

.modal-content h3{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 26px;
	margin-left: 230px;
	margin-bottom: 1em;
	margin-top: 50px;
}

.modal-gallery{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin-left: 100px;
	margin-right: 100px;
	margin-top: -30px;
	margin-bottom: 40px;
}

.modal-gallery figure{
	position: relative;
	margin-top: 30px;
}

.modal-gallery img{
	width: 76px;
	min-height: 101px;
	display: block;
}

.delete-icon{
	position: absolute;
	top: 4px;
	right: 15px;
	background-color: black;
	color: white;
	padding: 4px;
	font-size: 10px;
	cursor: pointer;
}

.close{
	position: absolute;
	top: 15px;
	right: 25px;
	font-size: 31px;
	cursor: pointer;
}
.modal-separator{
	border: none;
	border-top: 2px solid #ccc;
	width: 80%;
}

.modal-footer{
	display: flex;
	justify-content: center;
}

#add-project-btn{
	width: 237px;
	height: 36px;
	background-color: #1D6154;
	color: white;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	font-size: 14px;
}

#modal-add-view {
  background-color: white;
  border-radius: 10px;
  max-width: 500px;
  margin: -10px auto;
  flex-direction: column;
  gap: 20px;
}
#modal-add-view h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

#add-project-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#add-project-form input[type="file"],
#add-project-form input[type="text"],
#add-project-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1em;
}

#add-project-form button[type="submit"] {
  padding: 12px;
  background-color: #1D6154;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 237px;
  height: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}

#add-project-form button[type="submit"]:hover {
  background-color: #144e44;
}

#back-to-gallery {
  background: none;
  border: none;
  color: #1D6154;
  text-decoration: underline;
  cursor: pointer;
  align-self: center;
  font-size: 0.95em;
}
 button#back-to-gallery{
	margin-left: -600px;
	margin-top: -717px;
	font-size: 21px;
	color: black;
  }

#image-preview {
  max-width: 100%;
  max-height: 250px;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.modal-view {
  display: none;
  flex-direction: column;
  gap: 20px;
}

/* Quand la vue n’est PAS cachée */
.modal-view:not(.hidden) {
  display: flex;
}
  .upload-container {
    padding: 2rem;
    text-align: center;
    background-color: #E8F1F6;
    cursor: pointer;
    position: relative;
    transition: border-color 0.3s;
	width: 420px;
	height: 169px;
	margin-left: auto;
	margin-right: auto;
  }

  .upload-container:hover {
    border-color: #4f46e5;
  }

  .upload-icon i {
	font-size: 76px;
	color: #B9C5CC;
  }

  .upload-button-style {
    background-color: #CBD6DC;
    color: #306685;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.2s ease;
	margin-top: 10px;
    pointer-events: none;
	width: 173px;
	height: 15px;
	margin-left: auto;
	margin-right: auto;
  }
  .upload-info {
    font-size: 0.9rem;
    color: #6b7280;
    margin-top: 0.5rem;
  }
  .upload-title{
	width: 460px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
  }

  select#category-select{
	width: 480px;
	height: 51px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
  }

  input[type="file"] {
      opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 1;
  }

  #preview-image {
    max-width: 350px;
	min-width: 200px;
	max-height: 234px;
    margin-top: -33px;
	margin-left: auto;
	margin-right: auto;
  }

  button[type="submit"] {
    padding: 0.75rem 1.5rem;
    background-color: #16a34a;
    color: #306685;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  button[type="submit"]:hover {
    background-color: #15803d;
  }

  button#validate{
	margin-top: 10px;

  }

#add-project-form .modal-footer{
	margin-top: 50px;
}

#add-project-form .modal-separator{
	margin-top: 30px;
}

#modal-add-view #back-to-gallery i {
	margin-top: 45px;
}